.footer-container {
	background: seagreen;
	padding: 0 0 2rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.footer-subscription {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-bottom: 24px;
	padding: 24px;
	color: #fff;
	width: 100%;
	background-color: forestgreen;
}

.footer-subscription-heading {
	margin-bottom: 24px;
	font-size: 24px;
}

.footer-subscription-text {
	margin-bottom: 24px;
	font-size: 20px;
}


.footer-input {
	padding: 8px 20px;
	border-radius: 2px;
	margin-right: 10px;
	outline: none;
	border: none;
	font-size: 18px;
	margin-bottom: 16px;
	border: 1px solid #fff;
}

.footer-links {
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer-link-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 16px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}

.footer-link-items h2 {
	margin-bottom: 16px;
}

.footer-link-items > h2 {
	color: #fff;
}

.footer-link-items a {
	color: #fff;
	text-decoration: none;
	margin-bottom: 8px;
}

.footer-input::placeholder {
	color: #b1b1b1;
}

.social-media {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.social-media-items {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 200px;
	box-sizing: border-box;
}

.social-icon {
	justify-content: space-around;
}

.social-logo {
	color: #fff;
	justify-self: start;
	margin-left: 20px;
	cursor: pointer;
	text-decoration: none;
	font-size: 2rem;
	display: flex;
	align-self: center;
	margin-bottom: 16px;
}

.website-rights {
	color: #fff;
	margin-bottom: 16px;
}

.social-icon-link {
	color: #fff;
	font-size: 24px;
}

@media screen and (max-width: 820px) {
  .footer-links {
    padding-top: 2rem;
  }

  .footer-input {
    width: 100%;
  }

  .btn {
    width: 100%;
  }

  .footer-links {
    flex-direction: column;
  }
}