.carouselFit {
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);
    object-fit: contain;
}

.carouselImg {
    width: 1000px;
    height: 400px;
    object-fit: contain;
    z-index: 0;
}

.overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 50%;
    margin-top: 20px;
    padding-left: 50px;
    color: whitesmoke;
}

@media screen and (max-width: 768px) {
    .overlay {
        margin-top: 250px;
        padding: 15px;
    }

}
